*{
    direction: rtl;
    font-family: yekan, sans-serif;
    font-size: 100%;
}
@font-face{
    font-family: yekan;
    src: url(../fonts/yekan.ttf);
}

.hover:hover{
    background-color: rgb(131, 126, 126);
    border-radius: 20px;
}

.size13rem{
    font-size: 1.3rem;
}
.color{
    background-color:rgb(83, 83, 83);
}
.color2{
    background-color: rgb(141,141,141);
}
.color3{
    background-color: rgb(245,245,245);
}
@media (max-width: 398px){

    .display{
        display: none;
    }
    .display-none{
        display: block;
    }
}

@media(min-width: 398px){
    .display-none{
        display: none;
    }
    .dsipaly{
        display: block; 
    }
}