*{
    direction: rtl;
    font-family: yekan, sans-serif;
}
@font-face{
    font-family: yekan;
    src: url(../fonts/yekan.ttf);
}

.hover:hover{
    background-color: rgb(131, 126, 126);
    border-radius: 20px;
}

.size13rem{
    font-size: 1.3rem;
}
.color{
    background-color:rgb(83, 83, 83);
}
.color2{
    background-color: rgb(141,141,141);
}